/* COLOR PALETTE 
    - #ffaa2f (orange) highlight color
    - #e3e4e5 (light grey)
    - #ada2a6 (lighter grey) background
    - #584948 (darker grey) header
    - #0f0603 (black) most text
*/

#logo {
  margin-top: 18px;
  margin-left: 15px;
}

h1 {
  color: #ffaa2f;
  position: absolute;
  top: 34px;
  left: 114px;
  font-size: 29px;
  font-family: 'Russo One', sans-serif;
}

main {
  width: 400px;
  margin: 20px auto;
}


/* LANDING PAGE */
 {
  margin-top: 50px;
}

#signup-intro, #results-intro, #landing {
  margin-top: 60px;
}
#search-intro {
  margin-top: 10px;
}

#search-bar {
  width: 400px;
  font-size: 50px;
}

#search-button {
  background-color: #ffaa2f;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  text-transform: lowercase;
}

#search-input {
  font-size: 23px;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 5px;
  text-transform: lowercase;
}

#icon-list ul {
  display: block;
  text-align: right;
  position: absolute;
  top: 100px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ffaa2f;
  font-weight: bold;
  font-size: 15px;
}

.icon-menu:before {
  color: #ffaa2f;
  position: absolute;
  top: 28px;
  right: 15px;
  font-size: 40px;
}

.login-link {
  background-color: rgb(128, 123, 136);
  text-transform: lowercase;
  padding-bottom: 10px;
  padding-top: 7px;
}
.login-link li {
  padding-right: 15px;
  padding-top: 1px;
}

#navLogin {
  padding-right: 3px;
}

/* LOGIN/REGISTER PAGE */
#formRegister {
  margin-top: 20px;
}

#inputRegister, #inputLogin {
  font-size: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding-left: 5px;
  text-transform: lowercase;
}

#register {
  margin-top: 50px;
}

#login-button, #register-button {
  font-size: 20px;
  background-color: #ffaa2f;
  border-radius: 10px;
  width: 25%;
  text-transform: lowercase;
}

#alertMsg {
  margin-top: 20px;
}

/* RESULTS PAGE */
.results-div {
  background-color: #584948;
  border: 2px black solid;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
}

#results-list {
  padding-top: 20px;
  font-size: 3vmin;
}
#results-list:first-of-type {
  padding-top: 0;
}

/* DETAILS PAGE */

/* FAVORITES PAGE */
#favorites {
  margin-top: 60px;
}

.favorites img {
  width: 150px;
}

.favorites button {
  font-size: 17px;
  background-color: #ffaa2f;
  border-radius: 10px;
  width: 25%;
  text-transform: lowercase;
}


/* GAME PAGE STYLING */
.section-details img {
  float: left;
}

.details {
  float: clear;
}

.details li {
  margin-left: 110px;
}

.section-details > p {
  float: left;
  padding-top: 16px;
}

.game-head {
  font-size: 25px;
  line-height: 1px;
  padding-top: 15px;
}

.game-pub {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 18px;
  padding-bottom: 17px;
}

.game-fav {
  font-size: 17px;
  background-color: #ffaa2f;
  border-radius: 10px;
  text-transform: lowercase;
  width: fit-content;
  font-weight: 700;
}
.game-text {
  font-size: 17px;
}

.about h2 {
  font-size: 25px;
  margin-top: 25px;
}

.about ul {
  margin-left: 15px;
  margin-top: 5px;
}
.about li {
  list-style-type: circle;
  margin-left: 15px;
}

.about li a {
  color: #000;
}